#sidebar {
  width: 160px;
  background-color: #f6f6f6;
  text-align: center;
}

#doge {
  float: left;
  margin: 5px;
}

#pokemon {
  float: right;
  margin: 5px;
}

#food {
  float: right;
  margin: 5px;
}

.logo {
  float: left;
  width: 100%;
  height: 100%;
}

#left-col {
  background-color: #f5fffa;
}

.panel-info {
  background-color: #f5faff;
}

#spongebob {
  float: right;
  margin: 5px;
}

.heading {
  height: 120px;
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

.head-table {
  margin: 10px;
}

td {
  padding-right: 40px;
}
